@model EmployeeAttendanceLog.Models.Attendance

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Attendance</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CehckIn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CehckIn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheckOut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckOut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Justification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Justification)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AttendanceId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
